
@{
    ViewBag.Title = "Create Data";
}

<h2>Create Users</h2>

<form id="dataForm" name="dataForm" ng-app="DataMain" ng-controller="DataController" class="form-horizontal" ng-cloak>
    <div class="form-group" ng-class="dataForm.username.$error.required ? 'has-error' : ''">
        <label for="username" class="col-sm-2 control-label">Username</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="username" name="username" placeholder="Username.." 
                   ng-model="data.Username" required />
        </div>
    </div>
    <div class="form-group" ng-class="dataForm.email.$error.required ? 'has-error' : ''">
        <label for="email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="email" name="email" placeholder="Email"
                   ng-model="data.Email" required />
        </div>
    </div>
    <div class="form-group" ng-class="dataForm.password.$error.required ? 'has-error' : ''">
        <label for="password" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                   ng-model="data.Password" required />
        </div>
    </div>
    <div class="form-group" ng-class="dataForm.confirmPassword.$error.required ? 'has-error' : ''">
        <label for="confirmPassword" class="col-sm-2 control-label">Confirm Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="confirmPassword"
                   ng-model="data.ConfirmationPassword" required />
        </div>
    </div>

    <div class="row">
        <div class="alert alert-danger" ng-show="dataForm.username.$touched
             && dataForm.username.$error.required">
            <strong>Username is required</strong>
        </div>
        <div class="alert alert-danger" ng-show="dataForm.email.$touched
             && dataForm.email.$error.required">
            <strong>Email is required</strong>
        </div>
        <div class="alert alert-danger" ng-show="dataForm.email.$touched
             && dataForm.email.$error.email">
            <strong>Email Format is incorrenct</strong>
        </div>
        <div class="alert alert-danger" ng-show="dataForm.password.$touched
             && dataForm.password.$error.required">
            <strong>Password is required</strong>
        </div>
        <div class="alert alert-danger" ng-show="dataForm.confirmPassword.$touched
             && dataForm.confirmPassword.$error.required">
            <strong>Confirmation Password is required</strong>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="button" class="btn btn-default" 
                    ng-disabled="dataForm.$invalid" ng-click="create()">Save</button>
        </div>
    </div>
</form>

@section Scripts{
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-resource.js"></script>
    <script src="~/Scripts/ui-grid.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="~/Scripts/App/Data/data-main.js"></script>
    <script src="~/Scripts/App/Data/controller/data-controller.js"></script>
    <script src="~/Scripts/App/Data/service/data-service.js"></script>
}